.beer-card
	display flex
	flex-flow row nowrap
	justify-content flex-start
	align-items center
	padding 2px 16px
	border-radius .25em
	background-color var(--color-gray-n700)
	&:hover
		background-color var(--color-gray-n500)
	
	.tap-number
		flex-basis 8%
		margin-right 20px
		color #8777D9
		font-family 'Helvetica', 'Arial', sans-serif
		font-size 3em
		font-weight bold
		text-align center
		opacity .6

	.card__prod 
		display flex
		flex-flow column nowrap
		color var(--color-white)
		flex 2

		.prod__brewery
			display flex
			align-items center
			font-family 'Helvetica', 'Arial', sans-serif
			font-size 1.2em
	
		.prod__name
			font-family 'Georgia', 'Times', serif
			font-size 1.75em
			font-weight bold
			letter-spacing 1px
			margin-top 8px 
		
		.card__style
			padding 4px 8px 3px 8px
			margin-left 16px
			border-radius 2px
			// background-color var(--color-gray-n20)
			border 2px solid
			font-family 'Arial', 'Helvetica', sans-serif
			font-size 12px
			text-transform uppercase
			font-weight 600
			letter-spacing .1em
			color var(--color-black)

	.card__stats
		display flex
		flex-flow row nowrap
		justify-content flex-start
		flex 1
		list-style-type none
		font-family 'Arial', 'Helvetica', sans-serif
		font-size 2em
		color var(--color-white)

		.stats__og, 
		.stats__abv, 
		.stats__ibu
			margin-left .75em
			min-width 4rem
			text-align left
		.stats__price
			margin-left .6em
			margin-right .6em
			min-width 4rem
			text-align center

