@require './utils/_*.styl'

/* Custom */
:root
	--color-white #FFFFFF
	--color-black #041128
	--color-gray-n10 #EBECF0
	--color-gray-n20 #DFE1E6
	--color-gray-n30 #B3BAC5
	--color-gray-n400 #505B5D
	--color-gray-n500 #424446
	--color-gray-n700 #252830
	--color-yellow-y200 #FFC400
	--color-red-r300 #FF5630

/* App */
body
	background-color var(--color-black)

.container
	display grid
	grid-template-columns 1fr
	grid-template-rows 48px 1fr
	grid-column-gap 1em
	grid-row-gap 1em
	// width 100vw
	height 100vh
	padding 1em 2em
	background-color var(--color-black)

	.display-header
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center

		.tap-setup-btn
			display flex
			justify-content center
			align-items center
			width 50px
			height 100%
			border none
			border-radius 4px
			font-size 1.5em
			// cursor pointer
			outline none
			color white
			&:hover
				background-color rgba(#FFF, .2)
				.tap-icon
					fill var(--color-gray-n30)
			.tap-icon
				fill var(--color-gray-n400)

		.brand
			display flex
			align-items center
			text-align left
			vertical-align center
			font-size 2em
			color var(--color-gray-n30)
			font-family 'Helvetica', 'Arial', sans-serif

	.display
		display grid
		grid-template-columns 1fr 1fr
		grid-template-rows repeat(5, 1fr)
		grid-auto-flow row
		grid-column-gap 4px
		grid-row-gap 4px

