@require './utils/_*.styl'

/* Custom */
:root
	--color-white #FFFFFF
	--color-black #041128
	--color-gray-n10 #EBECF0
	--color-gray-n20 #DFE1E6
	--color-gray-n30 #B3BAC5
	--color-gray-n400 #505F79
	--color-gray-n500 #42526E
	--color-gray-n700 #253858

/* App */
.container
	display grid
	grid-template-columns repeat(5, 1fr)
	grid-template-rows repeat(4, 1fr) 48px
	grid-column-gap 1em
	grid-row-gap 1em
	// width 100vw
	height 100vh
	padding 2em
	background-color var(--color-black)

.btn
	width 50px
	padding 4px
	border 2px solid var(--color-gray-n400)
	border-radius 4px
	font-size 1.5em
	grid-column-start 5
	grid-column-end 6
	grid-row-start 5
	grid-row-end 6
	justify-self end
	cursor pointer
	outline none
	color white
	&:hover 
		background-color rgba(#FFF, .2)

.brand
	text-align left
	vertical-align center
	color var(--color-gray-n400)
	font-family 'Helvetica', 'Arial', sans-serif

.icon
	fill var(--color-gray-n30)