@require './utils/_*.styl'

/* Custom */
:root
	--color-white #FFFFFF
	--color-black #041128
	--color-gray-n10 #EBECF0
	--color-gray-n20 #DFE1E6
	--color-gray-n30 #B3BAC5
	--color-gray-n400 #505B5D
	--color-gray-n500 #424446
	--color-gray-n700 #252830
	--color-yellow-y200 #FFC400
	--color-red-r300 #FF5630

/* App */
body
	background-color var(--color-black)
	background-image url(http://stylus-lang.com/img/stylus-logo.svg)
	background-position center
	background-size 200px

.display
	height 100vh
	padding 1em 2em
	background-color var(--color-black)
	display grid
	grid-template-columns 1fr 1fr
	grid-template-rows repeat(10, 1fr)
	grid-column-gap 4px
	grid-row-gap 4px

.screen-enter
	opacity 0
	transform scale(.985)

.screen-enter-active
	opacity 1
	transform scale(1)
	transition opacity 2s, transform .3s ease-out



